<div class="box">
    <div class="box-header">
        <h3 class="box-title">商品管理</h3>
        <span class="btn pull-right btn-success btn-sm"><i class="fa fa-fw fa-plus-square"></i>添加</span>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="width: 20px">ID</th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>商品价格</th>
                    <th>商品库存</th>
                    <th style="width: 100px">操 作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img height="50px" width="50px"
                            src="https://shop.canon.com.cn/image/catalog/EOS RP/24-105111.jpg" alt=""></td>
                    <td>OS RP 套机RF24-105mm F4 L IS USM</td>
                    <td>相机</td>
                    <td>17537</td>
                    <td>10005</td>
                    <td>
                        <span class="btn btn-primary btn-xs"><i class="fa fa-fw fa-edit"></i>修改</span>
                        <span class="btn btn-danger btn-xs"><i class="fa fa-fw fa- fa-close "></i>删除</span>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img height="50px" width="50px"
                            src="https://shop.canon.com.cn/image/catalog/EOS RP/24-105111.jpg" alt=""></td>
                    <td>OS RP 套机RF24-105mm F4 L IS USM</td>
                    <td>相机</td>
                    <td>17537</td>
                    <td>10005</td>
                    <td>
                    <span class="btn btn-primary btn-xs"><i class="fa fa-fw fa-edit"></i>修改</span>
                    <span class="btn btn-danger btn-xs"><i class="fa fa-fw fa- fa-close "></i>删除</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>