<div class="box">
    <div class="box-header">
            <h3 class="box-title">商品管理</h3>
    </div>
    <div class="box-header">       
        <span id="btn-add-product" class="btn pull-left btn-success btn-sm"><i class="fa fa-fw fa-plus-square"></i>添加</span>
        <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button id="list-search" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding" id="product-list-main">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th style="width: 20px">ID</th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>商品价格</th>
                    <th>商品库存</th>
                    <th style="width: 100px">操 作</th>
                </tr>
                 {{if hasData}}
                 {{each data}} 
                <tr  _dataId="{{$value._id}}">
                    <td>{{ page*pageSize + $index + 1}}</td>
                    <td><img height="50px" width="50px"
                            src="http://localhost:3000/upload/{{$value.productImg}}" alt=""></td>
                    <td>{{$value.productName}}</td>
                    <td>{{$value.productType}}</td>
                    <td>{{$value.productPrice}}</td>
                    <td>{{$value.productNumber}}</td>
                    <td>
                        <span class="btn btn-primary btn-xs product-edit"><i class="fa fa-fw fa-edit"></i>修改</span>
                        <span class="btn btn-danger btn-xs product-delete"><i class="fa fa-fw fa- fa-close "></i>删除</span>
                    </td>
                </tr>
                {{/each}}
                {{else }}
                <tr>
                   <td colspan="10">暂无数据...</td> 
                </tr>
                {{/if}}
              

            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    {{if total > 0 }}
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right" id="pageNumber">
           
            <li><a href="{{url+1}}?page=0&pageSize={{pageSize}}&keyword=&keyword={{keyword}}">-«</a></li>
            <li><a href="{{url+1}}?page={{page>1?page-1:0}}&pageSize={{pageSize}}&keyword={{keyword}}">«</a></li>
            {{if pageNumber.length >= 6}}
                {{if page+1==1}}
                <li><a href="{{url}}?page={{page}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+1}}</a></li>
                <li><a href="{{url}}?page={{page+1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+2}}</a></li>
                <li><a href="{{url}}?page={{page+2}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+3}}</a></li>
                <li><a href="javaScript:void(0)">···</a></li>
                    {{else if page+1==2}}
                    <li><a href="{{url}}?page={{page-1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page}}</a></li>
                    <li><a href="{{url}}?page={{page}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+1}}</a></li>
                    <li><a href="{{url}}?page={{page+1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+2}}</a></li>
                    <li><a href="javaScript:void(0)">···</a></li>
                        {{else if page+1==pageNumber.length}}
                        <li><a href="javaScript:void(0)">···</a></li>
                        <li><a href="{{url}}?page={{page-1-1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page-1}}</a></li>
                        <li><a href="{{url}}?page={{page-1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page}}</a></li>
                        <li><a href="{{url}}?page={{page}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+1}}</a></li>
                            {{else if page+1==pageNumber.length-1}}
                            <li><a href="javaScript:void(0)">···</a></li>
                            <li><a href="{{url}}?page={{page-1}}&pageSize={{pageSize}}&keyword=&keyword={{keyword}}">{{page}}</a></li>
                            <li><a href="{{url}}?page={{page}}&pageSize={{pageSize}}&keyword=&keyword={{keyword}}">{{page+1}}</a></li>
                            <li><a href="{{url}}?page={{page+1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+2}}</a></li>
                                {{else}}
                                <li><a href="javaScript:void(0)">···</a></li>
                                <li><a href="{{url}}?page={{page-1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page}}</a></li>
                                <li><a href="{{url}}?page={{page}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+1}}</a></li>
                                <li><a href="{{url}}?page={{page+1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{page+2}}</a></li>
                                <li><a href="javaScript:void(0)">···</a></li>
                {{/if}}
            {{else}}
                {{each pageNumber}}
            <li><a href="{{url}}?page={{$value-1}}&pageSize={{pageSize}}&keyword={{keyword}}">{{$value}}</a></li>
                {{/each}}
            {{/if}}
            <li><a href="{{url+1}}?page={{page+1>pageNumber.length-1?page:page+1}}&pageSize={{pageSize}}&keyword={{keyword}}">»</a></li>
            <li ><a href="{{url+1}}?page={{pageNumber.length-1}}&pageSize={{pageSize}}&keyword={{keyword}}">»-</a></li>
        </ul>
    </div>
    {{/if}}
</div>
